* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #f3f3f4;
}
.head {
  text-align: center;
  width: 1000px;
  align-self: center;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 58px;
  letter-spacing: 2px; 
}

.greatest {
  font-size: 35px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px; 
}

.texto {
  margin-left: 90px;
  width: 700px;
  font-size: 24px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  color: #25252b;
  text-align: justify;
  padding-top: 50px;
  letter-spacing: 1px; 
  line-height: 1.6; 
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
  cursor: pointer;
}

#menu {
  background-color:#FFB81C;
  display: flex;
  justify-content: center;
height: 45px;  
}
#menu a {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 347;
  font-style: normal;
  font-size: 20px;
}
#menu ul {
  list-style: none;
  display: flex;
}
#menu ul li {
  display: inline;
  margin: 0 10px;
}
#menu ul li a{
  display: inline-block;
  padding: 10px 20px;
  color: white;
  
}
#menu ul li a:hover {
color: blue;

}

.main-header {
  display: flex;
  gap: 250px;
  background-color: #4dabf7;
  margin-bottom: 80px;
  width: auto;
  height: 300px;
  margin-bottom: 0;
}
.main-header img {
  margin-top: -190px;
  height: auto;
  overflow: hidden;
  width: 300px; 
  height: 300px; 
  margin-top: 0px;
  margin-right: 80px;
  border: 50%;

}

.head {
  color: white;
  text-align: center;
  width: 1000px;
  align-self: center;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  margin-left: 90px;
  font-size: 58px;
}

.greatest {
  font-size: 35px;
  color: #e9ecef;
}

a:link,
a:visited {
  color: #065c69;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:active {
  color: rgb(78, 23, 3);
  font-weight: bold;
  text-decoration: underline rgb(153, 146, 142);
  transition: 0.6s;
}

.biografia {
  display: flex;
  gap: 500px;
  margin-bottom: 60px;
  
}
.second-header {
  margin-bottom: 35px;
  margin-left: 80px;
  color: #343a40;
}
.texto {
  margin-left: 90px;
  width: 700px;
  font-size: 24px;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #25252b;
  text-align: justify;
padding-top:50px;
}

h3 {
  width: 600px;
  color: #339af0;
  font-family: "Caveat", cursive;
  font-size: 30px;
  margin-right: 50px;
  text-align:justify;
  display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 300px;
}

.gallery {
  display: flex;
  gap: 4px;
  
}
.card {
  position: relative;
  left: 0px;
  width: 60px;
  border-radius: 4px;
  padding: 8px;
  height: 168px;
  transition: 0.4s ease-in-out;
  flex: 1px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(#4dabf7, #2d88c2);
  justify-content: space-around;
}
.card .imagem{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transition: transform 0.3s ease; 
}
.card:nth-child(1) {
background-image: linear-gradient(#4dabf7, #2d88c2);
  
}
.card:nth-child(2) {
background-image: linear-gradient(#4dabf7, #2d88c2);
}
.card:nth-child(3) {
  background-image: linear-gradient(#4dabf7, #2d88c2);
}
.card:nth-child(4) {
  background-color: green;
}
.card:nth-child(5) {
  background-color: yellow;
}
.card:hover {
  flex: 1.2;
  font-weight: bold;
  cursor: pointer;
  object-fit: cover;
  object-position: bottom;
  transform: translateY(0) scale(0.9);
  height: 255px;
 
}
.card:not(:hover) {
  opacity: 0.88;
}
.card1{
  margin: 0px;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#4dabf7, #2d88c2);
  transition: all .5s;
  margin-bottom: 20px; 
  border: 1px solid;
  border-radius: 8px;
  padding: 20px; 
  
}
.card1:hover {
  background-image: linear-gradient(#ceab5d, #B89440);
}

.card1 .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}


.card1 .img {
  height: auto; 
  margin-bottom: 10px; 
  border-radius: 8px; 
  overflow: hidden; 
  position: relative; 
}

.card1 .img img {
  width: 100%; 
  height: 210px; 
  display: block;
}

.card1 .img span {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 5px; 
  text-align: center; 
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}




.card1:hover .img {
  width: 430px;
  opacity: 1;
}

.card1:hover .img span {
  font-size: 28px;
}

.card1 .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card1:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card1 .content p {
  margin: 0;
  text-align: center;
  align-items: center;

  
}

.card1 .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card1 .content .desc {
  font-size: 13.8px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
  text-align: center;
}

.card1 .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card1:hover .arrow {
  transform: rotate(0);
}

.card1 .arrow span {
  font-size: 24px;
}
.messi{

  
  width: 100%;
  height: 100%;
}
.card1 .foto {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  top:82%;
  
 left: 38%;
  width: 60px; 
  height: 50px; 
}
.card1 .foto1 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  top:85%;
  
 left: 38%;
  width: 47px; 
  height: 37px; 
}

footer {
  background-color: antiquewhite;
  padding: 16px 18px;
  width: auto;
  font-size: 16px;
  margin-bottom: 0;
}
.parte2-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  flex-wrap: wrap;
 flex-direction: row; 
  height: 480px;
 
}
.texto .titulos {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2014px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos1 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2091px;
  width: 60px;
  height: 50px; 
}
.texto .titulos2 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2168px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos3 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2255px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos4 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2357px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos5 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2439px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos6 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2516x;
  width: 60px; 
  height: 50px;
}
.texto .titulos7 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2593px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos8 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2670px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos9 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2781px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos10 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2858px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos11 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 2935px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos12 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 3012px;
  width: 60px; 
  height: 50px; 
}
.texto .titulos13 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 3086px;
  width: 60px; 
  height: 50px;
}
.texto .titulos14 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  left: 19px;
  top: 3166px;
  width: 60px; 
  height: 50px;
}

#Parte1 {
  width: 100%;
  height: 100%;

}


#Parte3 {
  
  width: 100%;
  height: 100%;
  
}


